body {
  /* font-family: "Gill Sans", sans-serif; */
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  letter-spacing: 0.1px;
  background-color: #F1F5F9;

  margin: 0px;
  padding: 0px;
  display: grid;
}

header{
  background-color: #FF1F1F;
}

/* ################### CONFIGURACIÓN DEL EDIT BOX CONTAINER ###################*/
.container {  display: none;
  grid-template-columns: 1fr 540px 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". edit_box_containter_area .";
  /* height: 700px; */
  padding-bottom: 20px;
}

.edit_box_containter_area {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.15fr 1fr 0.15fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "edit_box_title_btn_area"
    "edit_box_selectors_area"
    "confirm_btn_area";
  grid-area: edit_box_containter_area;
  border-radius: 5px;
  background-color: #ADB6C2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.edit_box_title_btn_area {  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". edit_box_title_area close_btn_area";
  grid-area: edit_box_title_btn_area;
}

.edit_box_title_area {
  grid-area: edit_box_title_area;
  justify-content: center;
  /* display: flex; */
  align-items: center;
  text-align: center;
}

.edit_box_alert{
  grid-area: edit_box_alert;
  text-align: center;
  font-weight: bold;
  color: #FF1F1F;
  background-color: rgb(255, 131, 131);
  margin: 10px 0;
  width: 100%;
  border-radius: 3px;
}

.close_btn_area {
  grid-area: close_btn_area;
  display: flex;
  justify-content: right;
  padding-right: 20px;
  padding-top: 20px;
  /* Asegurar que el botón no se desplace */
  position: relative;
}

.btn_close_edit_box{
  width: 30px;
  height: 30px;
  /* padding: 5px; */
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  /* transition: background-color 0.2s ease; */
  background-color: #ff4c4c;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.btn_close_edit_box:hover {
  opacity: 0.8;
  background-color: #ff0000;
}

.edit_box_selectors_area {
  grid-area: edit_box_selectors_area;
  /* padding: 20px; */
  padding-left: 20px;
  padding-right: 20px;
}

.confirm_btn_area {
  grid-area: confirm_btn_area;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
  /* padding-top: 10px; */
  padding-bottom: 10px;
  
}

.btn_edit_box_confirm{
  width: 200px;
  height: 30px;
  border: 1px solid #528eff;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  transition: background-color 0.2s ease;
  background-color: #528eff;
}

.btn_edit_box_confirm:hover {
  opacity: 0.8;
  background-color: #2d69eb;
}

/* ################### CONFIGURACIÓN DE LA GRILLA ###################*/

.table_container {  display: grid;
  grid-template-columns: 0.05fr 1fr 0.05fr;
  grid-template-rows: 0.05fr 1fr 0.05fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". tab_main_matrix_title_area ."
    ". tab_main_matrix_area ."
    ". tab_main_matrix_btns_area .";
  /* height: 700px; */

}

.tab_main_matrix_area { 
  grid-area: tab_main_matrix_area;
  display: flex;
  justify-content: center;
  width: 100%;
}

#tab_main_matrix{
  background-color: #202020;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.tab_main_matrix_btns_area {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "random_btn block_matrix_btn"; 
  grid-area: tab_main_matrix_btns_area;
  padding-top: 10px;
  padding-bottom: 10px; 
}

.random_btn { grid-area: random_btn;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 70px;
}

.block_matrix_btn { grid-area: block_matrix_btn;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 70px;
}

.btn_reload_input {
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: 0.5px;

  width: 150px;
  height: 30px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  transition: background-color 0.2s ease;
  background-color: #14b85b;
}

.btn_reload_input:hover {
  opacity: 0.8;
  background-color: #16ce66;
}

.btn_block_matrix_input {
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: 0.5px;
  
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  transition: background-color 0.2s ease;
  color: #f0f0f0;
  background-color: #ff0000;
}

.btn_block_matrix_input:hover {
  opacity: 0.8;
  /* background-color: #2d69eb; */
}

.tab_main_matrix_title_area {
  grid-area: tab_main_matrix_title_area;
  display: flex;
  justify-content: center;
  width: 100%;
}

td {
  border: 2px solid #202020;
  padding: 10px;
  width: 100px;
  height: 100px;
  vertical-align: top;
  /* background-color: gray; */
  transition: background-color 0.3s ease;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

td:focus {
  background-color: #FFB116;
}

/* ################### CONFIGURACIÓN DE LA BOX ###################*/
.container_box {  display: grid;
  grid-template-columns: 0.05fr 1fr 0.05fr;
  grid-template-rows: 1fr 0.1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". box_text_area ."
    ". box_btns_area .";
  height: 100%;
}

.box_text_area {
  grid-area: box_text_area;
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
  color: #DCE0E5;
}

.box_btns_area {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 5%;
  grid-auto-flow: row;
  grid-template-areas:
    "check_btn_area delete_btn_area edit_btn_area";
  grid-area: box_btns_area;
  align-items: center;
  justify-content: center;
}

.check_btn_area { grid-area: check_btn_area; }

.delete_btn_area { grid-area: delete_btn_area; }

.edit_btn_area { grid-area: edit_btn_area; }

.btn {
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  transition: background-color 0.2s ease;
  background-color: #39516d;
  color: #f0f0f0;
}

.btn:hover {
  opacity: 0.8;
  background-color: #FFB116;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
/* CONFIGURACIÓN FOOTER */

.footer_description_area{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  background-color: #14141c;
}

.footer_description_area a {
  color: #6ea1ff;
  font-weight: bold;
  text-decoration: none;
}
.footer_description_area a:hover {
  color: #b9c8e9;
}
