/* CONFIGURACIÓN FOOTER */

.footer_description_area{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  background-color: #14141c;
}

.footer_description_area a {
  color: #6ea1ff;
  font-weight: bold;
  text-decoration: none;
}
.footer_description_area a:hover {
  color: #b9c8e9;
}

@media screen and (max-width: 700px) {
  .footer_description_area{
    height: 80px;
  }

  .footer_description_area a {
    font-size: 22px;
  }
    
}