.edit_box_container {  display: grid;
  grid-template-columns: 0.3fr 2.5fr 0.3fr;
  grid-template-rows: 0.5fr 0.3fr 0.3fr 2.9fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". edit_box_title edit_box_close_btn"
    ". event_selection_txt ."
    ". event_selection_input_list ."
    ". event_type_related_container .";
}

.edit_box_title { grid-area: edit_box_title; }

.edit_box_close_btn{ grid-area: edit_box_close_btn; }

.event_selection_txt { grid-area: event_selection_txt; }

.event_selection_input_list { grid-area: event_selection_input_list; }

.event_type_related_container { grid-area: event_type_related_container; }

